hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    margin-bottom:0;
    margin-top: 0;
    width: 5%;
    padding-bottom: 20px;
}
.special-for-a{
    text-decoration: none;
}

a{
    color: black;
    text-decoration: underline;
}
a:hover{
    color: #a9ccbc;
}

h1{
    margin-top: 0;
    margin: 0px auto 0px auto;
    font-size: 60px;
/*    padding-bottom: 2%;*/
    font-family: 'Arvo', serif;
}
h2{
    margin-top: 0;
    margin: 0px auto 0px auto;
/*    font-size: 70px;*/
/*    padding-bottom: 2%;*/
    font-family: 'Arvo', serif;
}
body{
    margin: 0;
    text-align: center;
}

p{
    font-family: 'Barlow', sans-serif;
    font-size:20px;
}

#div01{
    background-color: #68b0ab;
    padding-bottom: 30px;
}


.top-cloud{
    position: relative;
    padding-top: 75px;
    padding-bottom: 20px;
    left:218px;
}
.bottom-cloud{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
}

#div02{
    background-color: #8fc0a9;
    padding-bottom: 30px;
/*    padding-top: 30px;*/
}
.myimg{
    width: 150px;
    padding-top: 50px;
}

.para-intro{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#div03{
    background-color: #c8d5b9;
}
.skill{
    display: inline-block;
    position: relative;
    bottom: 160px;
}
.skillimg{
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.div03-1{
    width: 50%;
    text-align: right;
    margin: 50px auto 50px auto;
    line-height: 2;
    padding-bottom: 50px;
}
.div03-2{
    width: 50%;
    text-align: left;
    margin: 50px auto 50px auto;
    line-height: 2;
    padding-bottom: 50px;
}
#div04{
    background-color:#faf3dd;
}
.div04-1{
    width: 50%;
    text-align: right;
    margin: 50px auto 50px auto; 
    line-height: 2;
    padding-bottom: 50px;
}
.div04-2{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 50px;
}
#div05{
    background-color: #c8d5b9;
}
.div05-1{
    width: 50%;
    margin: 50px auto 50px auto; 
    text-align: right;
    line-height: 2;
    padding-bottom: 50px;
}
.div05-2{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 50px;
}
#div06{
    background-color: #8fc0a9;
}
.div06-1{
    width: 20%;
    display: inline-block;
    padding-bottom: 40px;
}
.contactimg{
    width:25%;
}
.btn01{
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #599bb3 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
	background-color:#599bb3;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:52px;
	line-height:52px;
width:171px;
	text-decoration:none;
	text-align:center;
}
.btn02:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3) );
	background:-moz-linear-gradient( center top, #408c99 5%, #599bb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
	background-color:#408c99;
}
.btn03:active {
	position:relative;
	top:1px;
}

.contact-me {
    border-style: double;
	border-radius: 10px;
	border-width: 5px;
	width: 70%;
	margin: auto;
}
.contact-me form input[type="text"] , .contact-me form input[type="email"] , .contact-me form textarea{
    width: 50%;
	align-content: center;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

